extends /layout


block header
  p 
    a(href="/") &laquo; トップへ
    | &gt; 

block content
  h1 アンケート一覧
  table
    each questionnaire in questionnaires
      tr
        th
          h2= questionnaire.title 
        td
          ul
            each question in questionnaire.question_set.questions.slice(0,3)
              li #{question.choices.left} - #{question.choices.right}
        td
          a(href="/questionnaires/#{questionnaire._id}") アンケートページへ

  h1
    a(href="/questionnaires/addnew") アンケート追加
