doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#document__header
      
      block header
      p user: 
        if user
          |#{user.email}
        else
          |guest
    
    div#document__container
      block content

    div#document__footer
